<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="https://unpkg.com/react-vis/dist/style.css">-->
  </head>
  <body>
    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!--<script type="text/javascript" src="https://unpkg.com/react-vis/dist/dist.min.js"></script>-->
    {% block main %}{% endblock %}
  </body>
</html>
